# Python files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script to a directory where the script is found
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.toggl/
.tox/
.nosexml
tests/page-data/
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.run/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or app, you might want to share your .python-version if you use pyenv
#   Only uncomment if you want to ignore it
#.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if you are working on a python application, it is fine
#   to include Pipfile.lock. For library templates, it should not be committed.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, poetry.lock is typically committed for applications but not libraries
#poetry.lock

# pdm
#   Similar to Pipfile.lock, pdm.lock is typically committed for applications
#pdm.lock

# virtualenv
.venv/
venv/
ENV/
env/
ENV/local/
ENV/lib/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static analyzer
.pytype/

# Cython debug symbols
cython_debug/

# OS/System files
.DS_Store
Thumbs.db

# Editors & IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Local configurations / secrets
.env
.flaskenv

# Scratch/test scripts
test_feed.py
